{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
  {% block title %}<title>Bling for Bling</title>{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=2" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">Bling <span>for Bling</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/admin">Admin</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
					<div class="inner">

						<header class="align-center">
							<h1>Bling For Bling</h1>
							<p><strong>Ferramenta usada para sincronizar o estoque de dois ou mais Blings.</strong></p>
						</header>

						<hr class="major" />

			            {% block content %}
			            {% endblock %}

					</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; All rights reserved. By: <a href="#">Lívio Cunha</a></p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>